PORT=3000
DATABASE_URL="postgresql://pepe:pepe_password@localhost:5432/pepe_hype?schema=public"
JWT_SECRET="secret"
JWT_EXPIRES_IN="7d"

MINIO_ENDPOINT="localhost"
MINIO_PORT=9000
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_USE_SSL=false
MINIO_BUCKET="pepe-hype-assets"

CORS_ORIGIN="http://localhost:5173"
